<!-- <div class="container-fluid">
    <div class="header">
        <img class="imgStyle" src="assets/logo.jpg"/>
        <h2 class="head">Thesis Portal<a class="login" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" routerLink="/"><i class="fa fa-sign-in" aria-hidden="true"></i> Login</a></h2>
        
    </div>
      
  </div>
 -->

<!-- <nav class="navbar navbar-custom">
    <a class="navbar-brand" href="#">
      <img src="assets/logo.jpg" width="150" height="50" class="d-inline-block align-top" alt="">
      Thesis Portal
    </a>
</nav> -->

<div class="header">
    <a class="header-image" href="#">
        <img src="assets/logo.jpg" width="150" height="50" class="d-inline-block align-top" alt="">
    </a>
    <span class="header-title" href="#">
          <h2>Thesis Portal</h2>
      </span>
    <a class="header-image" href="#">
        <img src="assets/login-icon.svg" width="50" height="50" class="d-inline-block align-top" alt="">
    </a>
</div>