<!-- <div class="bs-example">
  <nav class="navbar navbar-expand-md navbar-light bg-light">
      <a href="#" class="navbar-brand">
          <img src="/examples/images/logo.svg" height="28" alt="CoolBrand">
      </a>
      <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
          <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarCollapse">
          <div class="navbar-nav">
              <a href="#" class="nav-item nav-link active">Home</a>
              <a href="#" class="nav-item nav-link active">Thesis Regulations</a>
              <a href="#" class="nav-item nav-link active">Available Topics</a>
              <a href="#" class="nav-item nav-link active" tabindex="-1">Create Topic</a>
          </div>
          <div class="navbar-nav ml-auto">
              <a href="#" class="nav-item nav-link active">Login</a>
          </div>
      </div>
  </nav>
</div> -->

<div class="container-fluid">
    <div class="header">
        <img class="imgStyle" src="assets/logo.jpg"/>
        <h2 class="head">Thesis Portal<a class="login" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" routerLink="/"><i class="fa fa-sign-in" aria-hidden="true"></i> Login</a></h2>
        
    </div>
      
  </div>