.header{
    height: 20%;
    background-color: #0068b4;
    
}
.container-fluid{
padding-left: 0%;
padding-right: 0%;
}
h2{
    margin: 0%;
    padding-top: 2%;
    position: relative;
    text-align: center
}
.imgStyle{
    height: 64px;
    float: left;
}
.login{
    float:right;
    position: relative;
    font-size: 16px;
    font-weight: 500;
    color: black;
    padding-right: 2%;
}
