.header {
    display: flex;
    padding: 8px;
}

.header-image {
    flex-grow: 1;
    outline: none;
}

.header-title {
    flex-grow: 35;
}

.logout-icon {
    height: 50px;
    width: 50px;
    cursor: pointer;
    outline: none;
}

.navbar-custom {
    background-color: #0068b4;
}

.logo-image {
    height: 65px;
    cursor: pointer;
    outline: none;
    content: url("../../assets/ovgu-logo.jpg");
}

@media screen and (max-width:480px) {
    .logo-image {
        content: url("../../assets/ovgu-logo-med.jpg");
    }
}

@media screen and (max-width:360px) {
    .logo-image {
        content: url("../../assets/ovgu-logo-small.jpg");
    }
}