footer {
    height: 35px;
    background-color: #0068b4;
}

.text-center {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    font-weight: 500;
    color: white;
}