<div class="aligner">
    <div class="home-container">
        <div class="title">
            Dashboard
        </div>
        <div class = "user-name profile-info">
            Welcome {{user}} !!
        </div>
        <div class="profile-info">
            {{researchGroup}}
        </div>
        <div class="options">
            <button type="button" class="all-topics-button" [routerLink]="['/create-topic/NULL']">Create topic</button>
            <button type="button" class="all-topics-button" [routerLink]="['/supervisor-display-topics']">Update/Delete topics</button>
        </div>
    </div>
</div>