<app-menu></app-menu>
<div class="topics-container">
    <div class="card" *ngFor="let topic of topics, let i=index;">
        <div class="card-header">
            {{topic.startDate}}
        </div>
        <div class="card-body">
            <h5 class="card-title">{{topic.title}} </h5>
            <h5 class="card-title mb-2 text-muted">{{topic.supervisor}} </h5>
            <p class="card-text">{{topic.description}}</p>

            <div id="collapseExample2" [ngbCollapse]="!togglePanel[i]">
                <br>{{topic.mustHave}} <br />
                <br>{{topic.niceHave}}<br />
                <br>{{topic.contactInfo}}<br />
            </div>

            <p class="action-buttons">
                <button type="button" class="btn btn-outline-primary" (click)=toggler(i) [attr.aria-expanded]="!togglePanel[i]" aria-controls="collapseExample2">
                    <div *ngIf="togglePanel[i]">Show less</div>
                    <div *ngIf="!togglePanel[i]">Show more</div>
                </button>
                <button class="btn btn-outline-primary edit-button" (click)=editTopic(i)>Edit</button>
                <button class="btn btn-outline-danger delete-button" (click)=deleteTopic(i)>Delete</button>
            </p>
            
        </div>
    </div>