<div class="container">
  <div class="row border">
    <div class="col-sm-12">
      <form class="justify-content-center" #topicForm="ngForm" (ngSubmit)="onSubmit(topicForm)">
        <div class="form-group row">
          <label for="title" class="col-sm-3 col-form-label">Title : </label>
          <div class="col-sm-9">
            <div [ngClass]="{'has-error': !title.valid && isSubmitted}">
              <input type="text" class="form-control" id="title" name="title" aria-describedby="titleHelp"
                placeholder="Enter Thesis Topic Title" required [(ngModel)]="topic.title" #title="ngModel">
            </div>
            <div class="alert alert-danger" *ngIf=" !title.valid && isSubmitted">
              This field is required
            </div>
          </div>
        </div>
        <div class="form-group row">
          <label for="title" class="col-sm-3 col-form-label">Research Group : </label>
          <div class="col-sm-9">
            <div [ngClass]="{'has-error': !title.valid && isSubmitted}">
              <input type="text" class="form-control" id="researchGroup" name="researchGroup"
                aria-describedby="titleHelp" placeholder="Enter Research Group Here" required
                [(ngModel)]="topic.researchGroup" #title="ngModel">

            </div>
            <div class="alert alert-danger" *ngIf=" !title.valid && isSubmitted">
              This field is required
            </div>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-sm-3 col-form-label" for="supervisor">Supervisor : </label>
          <div class="col-sm-9">
            <div [ngClass]="{'has-error': !supField.valid && isSubmitted}">
              <input type="text" class="form-control" id="supervisor" name="supervisor"
                placeholder="Name of the Supervisor" [(ngModel)]="topic.supervisor" required #supField="ngModel">
            </div>
            <div class="alert alert-danger" *ngIf=" !supField.valid && isSubmitted">
              This field is required
            </div>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-sm-3 col-form-label" for="desc">Description : </label>
          <div class="col-sm-9">
            <div [ngClass]="{'has-error': !descField.valid && isSubmitted}">
              <textarea class="form-control" rows="5" id="description" name="description"
                placeholder="Please Enter Detailed desciption here" required [(ngModel)]="topic.description"
                #descField="ngModel"></textarea>
            </div>
            <div class="alert alert-danger" *ngIf=" !descField.valid && isSubmitted">
              This field is required
            </div>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-sm-3 col-form-label" for="supervisor"> Must Have : </label>
          <div class="col-sm-9">
            <div [ngClass]="{'has-error': !keyfield.valid && isSubmitted}">
              <input type="text" class="form-control" id="mustHave" name="mustHave"
                placeholder="Must Have Skills for People Applying" [(ngModel)]="topic.mustHave" required
                #keyfield="ngModel">
            </div>
            <div class="alert alert-danger" *ngIf=" !keyfield.valid && isSubmitted">
              This field is required
            </div>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-sm-3 col-form-label" for="requirements">Nice to Have : </label>
          <div class="col-sm-9">
            <div [ngClass]="{'has-error': !reqfield.valid && isSubmitted}">
              <input type="text" class="form-control" id="niceHave" name="niceHave"
                placeholder="Must Have Skills for People Applying" required [(ngModel)]="topic.niceHave"
                #reqfield="ngModel">
            </div>
            <div class="alert alert-danger" *ngIf=" !reqfield.valid && isSubmitted">
              This field is required
            </div>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-sm-3 col-form-label" for="requirements">Contact Information : </label>
          <div class="col-sm-9">
            <div [ngClass]="{'has-error': !reqfield.valid && isSubmitted}">
              <input type="text" class="form-control" id="contactInfo" name="contactInfo"
                placeholder="Enter the mode of contact and details" required [(ngModel)]="topic.contactInfo"
                #reqfield="ngModel">
            </div>
            <div class="alert alert-danger" *ngIf=" !reqfield.valid && isSubmitted">
              This field is required
            </div>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-sm-3 col-form-label" for="requirements">Start Date : </label>
          <div class="col-sm-3">
            <div [ngClass]="{'has-error': !datefield.valid && isSubmitted}">
              <div class="input-group">

                <input class="form-control" placeholder="YYYY-MM-DD" name="startDate" [(ngModel)]="topic.startDate"
                  #datefield="ngModel" ngbDatepicker #d="ngbDatepicker">
                <div class="input-group-append">
                  <button class="btn btn-outline-secondary fa fa-calendar" (click)="d.toggle()" type="button">

                  </button>
                </div>
              </div>
            </div>
          </div>
          <div class="alert alert-danger" *ngIf=" !datefield.valid && isSubmitted">
            This field is required
          </div>
        </div>
        <div class="col-sm-12 text-center">
          <button type="submit" class="btn btn-primary text-center">Create Topic</button>
        </div>


      </form>

    </div>
    <div class="options">
      <button type="button" class="all-topics-button" [routerLink]="['/supervisor-dashboard']">Go to dashboard</button>
      <button type="button" class="all-topics-button" [routerLink]="['/uc']">Update/Delete topics</button>
    </div>
  </div>

  

  <app-modal id="topic-modal">
    <h1 class="text-center" mat-dialog-title>Success</h1>
    <div mat-dialog-content>
      <p class="text-center">The topic is sucessfully created</p>
    </div>
    <div class="right-align" mat-dialog-actions>
      <button mat-button (click)="closeModal('topic-modal');" cdkFocusInitial>Ok</button>
    </div>
  </app-modal>

</div>