.navbar {
    border-bottom: 2px solid #0068b4;
    color: black;
}

nav {
    width: 100%;
    /* background-color: #0068b4; */
}

a.nav-link {
    color: black;
}

h2.app-name {
    color: black;
    padding-right: 10px;
    border-right: 2px solid #0068b4;
    cursor: pointer;
    outline:none;
}

h2.app-name:hover{
    text-shadow: 0px 0px 20px #000000;
    transition: text-shadow 1s;
}

.navbar-brand{
    outline:none;
}

.search {
    width: 500px;
    display: flex;
    flex-wrap: wrap;
}

@media screen and (max-width:760px) {
    .search {
        width: 40%;
    }
    h2.app-name{
        border: 0px;
    }
}

@media screen and (max-width:575px) {
    .search {
        width: 100%;
    }
}

.search-bar-and-icon {
    flex-basis: 100%;
    display: flex;
}

.search-icon {
    height: 25px;
    width: 25px;
}

.search-bar {
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    margin-left: 10px;
    border-bottom: 2px solid rgb(205, 227, 255);
    outline: none;
    flex-grow: 1;
}

.search-bar:focus,
.search-bar:hover {
    border-color: transparent;
    /* border-bottom: 2px solid #0068b4; */
    border-bottom: 2px solid #0068b4;
    transition: border 1s;
}

span.navbar-toggler-icon {
    outline: none;
}