<div class="card" *ngFor="let topic of topics, let i=index;">
  <div class="card-header">
    {{topic.topic.startDate}}
  </div>
  <div class="card-body">
    <h5 class="card-title">{{topic.topic.title}} </h5>
    <h5 class="card-title mb-2 text-muted">{{topic.topic.supervisor}} </h5>
    <p class="card-text">{{topic.topic.description}}</p>
    <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="true" aria-controls="collapseExample" 
      (click)="togglePanel[i] = !togglePanel[i]">
      Show More
    </button>
    <div class="collapse" id="collapseExample" [hidden]="!togglePanel[i]">
      <div>
        <br>{{topic.topic.MustHave}} <br/>
        <br>{{topic.topic.NiceToHave}}<br/>
        <br>{{topic.topic.contact}}<br/>
    </div>
  </div>
</div>