<!--   
<br>
<table>
  <tr>
    <th>Title</th>
    <th>Sup</th>
    <th>Details</th>
    <th>Start date</th>
  </tr>
  <tr *ngFor="let topic of topics">
  <td>{{topic.topic.title}}</td>
  <td>{{topic.topic.supervisor}}</td>
  <td>{{topic.topic.description}}</td>
  <td>{{topic.topic.startDate}}</td>
  </tr>
</table> -->
 
<div class="card" style="width: 18rem;" *ngFor="let topic of topics">
  <div class="card-body">
    <h5 class="card-title">{{topic.topic.title}}</h5>
    <h6 class="card-subtitle mb-2 text-muted">{{topic.topic.supervisor}}</h6>
    <h6 class="card-subtitle mb-2 text-muted">{{topic.topic.startDate}}</h6>
    <p class="card-text">{{topic.topic.description}}</p>
  </div>
</div>