<!-- Search form -->
<div class="aligner">
    <div class="home-container">
        <div class="title">
            Thesis Portal
        </div>
        <form class="search" (ngSubmit)="onSubmit(searchForm)" #searchForm="ngForm">
            <div class="search-bar-and-icon">
                <img class="search-icon" src="assets/search-icon.png">
                <input id="searchTerm" name="searchTerm" class="search-bar" type="text" placeholder="Enter keywords, name of topics or faculty name" required [(ngModel)]="searchTerm" #title="ngModel">
            </div>
            <div class="action-buttons">
                <button class="btn btn-outline-primary search-button" type="submit">Search topic</button>
            </div>
        </form>
        <div class="additional-options">
            <button type="button" class="all-topics-button" [routerLink]="['/display-topics']">Display all topics</button>
        </div>
    </div>
</div>